#spring.datasource.name=sports_management_postgres
#spring.datasource.schema=
#spring.datasource.platform=postgres
#spring.jpa.database=POSTGRESQL
spring.datasource.url=jdbc:postgresql://localhost:5432/comp2913
spring.datasource.username=comp2913
spring.datasource.password=y4UYMmX%zFrH%Cnvz6
########################################################## FLYWAY
spring.flyway.enabled=true
spring.flyway.schemas=sports_centre_management
########################################################## JPA
spring.jpa.generate-ddl=true
spring.jpa.properties.hibernate.hbm2ddl.auto=update
spring.jpa.properties.hibernate.default_schema=sports_centre_management
spring.jpa.properties.hibernate.format_sql=true
spring.jpa.show-sql=true
########################################################## HIKARI
spring.datasource.hikari.connectionTimeout=20000
spring.datasource.hikari.maximumPoolSize=5
spring.jpa.open-in-view=false
########################################################## SECURITY
spring.security.oauth2.resourceserver.jwt.jwk-set-uri=https://prod-comp2931.eu.auth0.com/.well-known/jwks.json
spring.security.oauth2.resourceserver.jwt.issuer-uri=https://prod-comp2931.eu.auth0.com/
########################################################## MAIL
spring.mail.host=smtp.gmail.com
spring.mail.port=587
spring.mail.username=c2913sportscentre@gmail.com
spring.mail.password=SportsCentre123!
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.connectiontimeout=5000
spring.mail.properties.mail.smtp.timeout=5000
spring.mail.properties.mail.smtp.writetimeout=5000
spring.mail.properties.mail.smtp.starttls.enable=true
########################################################## COMP
COMP2913.iTextLicensePath=classpath:licenses/iTextKey.xml
