# OVERRIDE .properties file in container

#SPRING_DATASOURCE_URL=jdbc:mysql://127.0.0.1:3306/place
#SPRING_DATASOURCE_USERNAME=root
#SPRING_DATASOURCE_PASSWORD=root

SPRING_PROFILE=local
STRIPE_P_API="pk_test_crv9Zb7tvQtSJ82FhQwrnb8k00v3eIOvj8"
STRIPE_S_API="sk_test_m83VCMEjNPihns7LtK9BGD3z00Br6la5RX"
